<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/show">Show</a>
    <a href="/create">Create</a>
  </nav>
  <%- body %>
</body>
</html>
